MusicApplication/MusicApplication/MusicApplication/MusicApplication/Connected Services/ServiceReference/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MusicAppService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MusicAppService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:13568/Service.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Windows.Media.Imaging" />
  <xs:complexType name="UserInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Age" type="xs:int" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserInfo" nillable="true" type="tns:UserInfo" />
  <xs:complexType name="ArrayOfSongInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SongInfo" nillable="true" type="tns:SongInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSongInfo" nillable="true" type="tns:ArrayOfSongInfo" />
  <xs:complexType name="SongInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CountingLike" type="xs:int" />
      <xs:element minOccurs="0" name="CountingPlay" type="xs:int" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lyric" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Singer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="URL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Uploader" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Writter" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SongInfo" nillable="true" type="tns:SongInfo" />
  <xs:complexType name="ArrayOfArtistInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArtistInfo" nillable="true" type="tns:ArtistInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArtistInfo" nillable="true" type="tns:ArrayOfArtistInfo" />
  <xs:complexType name="ArtistInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Windows.Media.Imaging" minOccurs="0" name="Image" nillable="true" type="q1:BitmapImage" />
      <xs:element minOccurs="0" name="Information" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RawData" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="URLImage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArtistInfo" nillable="true" type="tns:ArtistInfo" />
  <xs:complexType name="ArrayOfAlbumInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AlbumInfo" nillable="true" type="tns:AlbumInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAlbumInfo" nillable="true" type="tns:ArrayOfAlbumInfo" />
  <xs:complexType name="AlbumInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.Windows.Media.Imaging" minOccurs="0" name="Image" nillable="true" type="q2:BitmapImage" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RawData" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Singer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="URLImage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AlbumInfo" nillable="true" type="tns:AlbumInfo" />
  <xs:complexType name="ArrayOfPlaylist">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Playlist" nillable="true" type="tns:Playlist" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlaylist" nillable="true" type="tns:ArrayOfPlaylist" />
  <xs:complexType name="Playlist">
    <xs:sequence>
      <xs:element minOccurs="0" name="Creator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Playlist" nillable="true" type="tns:Playlist" />
</xs:schema>