MusicApplication/MusicApplication/MusicApplication/MusicApplication/Connected Services/ServiceReference/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:13568/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MusicAppService" />
  <xs:import schemaLocation="http://localhost:13568/Service.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/Message" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MusicAppService" minOccurs="0" name="LoginResult" nillable="true" type="q1:UserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckDupUsername">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckDupUsernameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckDupUsernameResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadRequest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ID" nillable="true" type="xs:string" />
  <xs:element name="SongName" nillable="true" type="xs:string" />
  <xs:element name="FileInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/Message" name="FileByteStream" type="q2:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Album" nillable="true" type="xs:string" />
  <xs:element name="Id" nillable="true" type="xs:string" />
  <xs:element name="Singer" nillable="true" type="xs:string" />
  <xs:element name="GetAllSong">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSongResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MusicAppService" minOccurs="0" name="GetAllSongResult" nillable="true" type="q3:ArrayOfSongInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListArtist">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MusicAppService" minOccurs="0" name="ListOfArtist" nillable="true" type="q4:ArrayOfArtistInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Register">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MusicAppService" minOccurs="0" name="user" nillable="true" type="q5:UserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertSongInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MusicAppService" minOccurs="0" name="song" nillable="true" type="q6:SongInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertSongInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertSongInfoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindSongLikeName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindSongLikeNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/MusicAppService" minOccurs="0" name="FindSongLikeNameResult" nillable="true" type="q7:ArrayOfSongInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindSongOfSinger">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindSongOfSingerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/MusicAppService" minOccurs="0" name="FindSongOfSingerResult" nillable="true" type="q8:ArrayOfSongInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlaylistByUserID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlaylistByUserIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/MusicAppService" minOccurs="0" name="GetPlaylistByUserIDResult" nillable="true" type="q9:ArrayOfPlaylist" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPlaylist">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/MusicAppService" minOccurs="0" name="playlist" nillable="true" type="q10:Playlist" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPlaylistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddPlaylistResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSongToPlaylist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="songID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="playlistID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSongToPlaylistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSongToPlaylistResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSongOfPlaylist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playlistID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSongOfPlaylistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/MusicAppService" minOccurs="0" name="GetSongOfPlaylistResult" nillable="true" type="q11:ArrayOfSongInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>