MusicApplication/MusicApplication/MusicApplication/MusicApplication/Connected Services/ServiceReference/TransferService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TransferService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:13568/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:13568/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:13568/Service.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/Message" />
      <xsd:import schemaLocation="http://localhost:13568/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MusicAppService" />
      <xsd:import schemaLocation="http://localhost:13568/Service.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Windows.Media.Imaging" />
      <xsd:import schemaLocation="http://localhost:13568/Service.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System.Windows.Media" />
      <xsd:import schemaLocation="http://localhost:13568/Service.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/System.Windows.Media.Animation" />
      <xsd:import schemaLocation="http://localhost:13568/Service.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/System.Windows" />
      <xsd:import schemaLocation="http://localhost:13568/Service.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/System.Windows.Threading" />
      <xsd:import schemaLocation="http://localhost:13568/Service.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/System.IO" />
      <xsd:import schemaLocation="http://localhost:13568/Service.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://localhost:13568/Service.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/System.Net.Cache" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITransfer_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="ITransfer_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="ITransfer_CheckDupUsername_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckDupUsername" />
  </wsdl:message>
  <wsdl:message name="ITransfer_CheckDupUsername_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckDupUsernameResponse" />
  </wsdl:message>
  <wsdl:message name="DownloadRequest">
    <wsdl:part name="parameters" element="tns:DownloadRequest" />
  </wsdl:message>
  <wsdl:message name="DownloadRequest_Headers">
    <wsdl:part name="ID" element="tns:ID" />
    <wsdl:part name="SongName" element="tns:SongName" />
  </wsdl:message>
  <wsdl:message name="FileInfo">
    <wsdl:part name="parameters" element="tns:FileInfo" />
  </wsdl:message>
  <wsdl:message name="FileInfo_Headers">
    <wsdl:part name="Album" element="tns:Album" />
    <wsdl:part name="Id" element="tns:Id" />
    <wsdl:part name="Singer" element="tns:Singer" />
    <wsdl:part name="SongName" element="tns:SongName" />
  </wsdl:message>
  <wsdl:message name="ITransfer_GetAllSong_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSong" />
  </wsdl:message>
  <wsdl:message name="ITransfer_GetAllSong_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSongResponse" />
  </wsdl:message>
  <wsdl:message name="ListArtist">
    <wsdl:part name="parameters" element="tns:ListArtist" />
  </wsdl:message>
  <wsdl:message name="ITransfer_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="ITransfer_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="ITransfer_UploadSong_OutputMessage" />
  <wsdl:message name="ITransfer_InsertSongInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertSongInfo" />
  </wsdl:message>
  <wsdl:message name="ITransfer_InsertSongInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertSongInfoResponse" />
  </wsdl:message>
  <wsdl:message name="ITransfer_FindSongLikeName_InputMessage">
    <wsdl:part name="parameters" element="tns:FindSongLikeName" />
  </wsdl:message>
  <wsdl:message name="ITransfer_FindSongLikeName_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindSongLikeNameResponse" />
  </wsdl:message>
  <wsdl:portType name="ITransfer">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransfer/Login" message="tns:ITransfer_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransfer/LoginResponse" message="tns:ITransfer_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckDupUsername">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransfer/CheckDupUsername" message="tns:ITransfer_CheckDupUsername_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransfer/CheckDupUsernameResponse" message="tns:ITransfer_CheckDupUsername_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DownloadSong">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransfer/DownloadSong" name="DownloadRequest" message="tns:DownloadRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransfer/DownloadSongResponse" name="FileInfo" message="tns:FileInfo" />
    </wsdl:operation>
    <wsdl:operation name="GetAllSong">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransfer/GetAllSong" message="tns:ITransfer_GetAllSong_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransfer/GetAllSongResponse" message="tns:ITransfer_GetAllSong_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadAllArtist">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransfer/LoadAllArtist" name="DownloadRequest" message="tns:DownloadRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransfer/LoadAllArtistResponse" name="ListArtist" message="tns:ListArtist" />
    </wsdl:operation>
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransfer/Register" message="tns:ITransfer_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransfer/RegisterResponse" message="tns:ITransfer_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadSong">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransfer/UploadSong" name="FileInfo" message="tns:FileInfo" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransfer/UploadSongResponse" message="tns:ITransfer_UploadSong_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertSongInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransfer/InsertSongInfo" message="tns:ITransfer_InsertSongInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransfer/InsertSongInfoResponse" message="tns:ITransfer_InsertSongInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindSongLikeName">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransfer/FindSongLikeName" message="tns:ITransfer_FindSongLikeName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransfer/FindSongLikeNameResponse" message="tns:ITransfer_FindSongLikeName_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITransfer" type="tns:ITransfer">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/ITransfer/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckDupUsername">
      <soap:operation soapAction="http://tempuri.org/ITransfer/CheckDupUsername" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadSong">
      <soap:operation soapAction="http://tempuri.org/ITransfer/DownloadSong" style="document" />
      <wsdl:input name="DownloadRequest">
        <soap:header message="tns:DownloadRequest_Headers" part="ID" use="literal" />
        <soap:header message="tns:DownloadRequest_Headers" part="SongName" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="FileInfo">
        <soap:header message="tns:FileInfo_Headers" part="Album" use="literal" />
        <soap:header message="tns:FileInfo_Headers" part="Id" use="literal" />
        <soap:header message="tns:FileInfo_Headers" part="Singer" use="literal" />
        <soap:header message="tns:FileInfo_Headers" part="SongName" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllSong">
      <soap:operation soapAction="http://tempuri.org/ITransfer/GetAllSong" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadAllArtist">
      <soap:operation soapAction="http://tempuri.org/ITransfer/LoadAllArtist" style="document" />
      <wsdl:input name="DownloadRequest">
        <soap:header message="tns:DownloadRequest_Headers" part="ID" use="literal" />
        <soap:header message="tns:DownloadRequest_Headers" part="SongName" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ListArtist">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/ITransfer/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadSong">
      <soap:operation soapAction="http://tempuri.org/ITransfer/UploadSong" style="document" />
      <wsdl:input name="FileInfo">
        <soap:header message="tns:FileInfo_Headers" part="Album" use="literal" />
        <soap:header message="tns:FileInfo_Headers" part="Id" use="literal" />
        <soap:header message="tns:FileInfo_Headers" part="Singer" use="literal" />
        <soap:header message="tns:FileInfo_Headers" part="SongName" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertSongInfo">
      <soap:operation soapAction="http://tempuri.org/ITransfer/InsertSongInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindSongLikeName">
      <soap:operation soapAction="http://tempuri.org/ITransfer/FindSongLikeName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TransferService">
    <wsdl:port name="BasicHttpBinding_ITransfer" binding="tns:BasicHttpBinding_ITransfer">
      <soap:address location="http://localhost:13568/Service.svc/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>